<div class="container mt-5 mb-5">
  <div class="row g-4">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card border-2 border-success border-opacity-50 mt-5">
        <div class="card-body">
          <h2 class="card-title text-success text-center mb-1">Make today productive</h2>
          <h6 class="card-subtitle text-center mb-4 text-muted">
            What’s on Your Mind? Let’s Add it as a Todo!
          </h6>
          <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)" novalidate>
            <div class="mb-2">
              <label for="todoTitle" class="form-label fw-bold">Todo's Title</label>
              <input [(ngModel)]="todoTitle" name="todoTitle" type="text" class="form-control border-1 border-success"
                id="todoTitle" placeholder="What to do?" required #todoTitleField="ngModel" [ngClass]="{
                  'is-invalid': (todoTitleField.invalid && todoTitleField.touched) || !isTitleValid()
                }" autofocus />
              <div *ngIf="todoTitleField.invalid && todoTitleField.touched" class="form-text text-danger">
                Title is required.
              </div>
              <div *ngIf="!isTitleValid()" class="form-text text-danger">
                Title must contain between 1 and 10 words.
              </div>
            </div>
            <!-- Description Field -->
            <div class="mb-4">
              <label for="todoDescription" class="form-label fw-bold">Todo's Description</label>
              <textarea [(ngModel)]="todoDescription" name="todoDescription"
                class="form-control border-1 border-success" id="todoDescription" rows="3"
                placeholder="Write a few words describing your todo..." required #todoDescriptionField="ngModel"
                [ngClass]="{
                  'is-invalid': (todoDescriptionField.invalid && todoDescriptionField.touched) || !isDescriptionValid()
                }"></textarea>
              <div *ngIf="todoDescriptionField.invalid && todoDescriptionField.touched" class="form-text text-danger">
                Description is required.
              </div>
              <div *ngIf="!isDescriptionValid()" class="form-text text-danger">
                Description must contain between 1 and 100 words.
              </div>
            </div>
            <button type="submit" class="btn btn-success w-100 fw-bold"
              [disabled]="isSubmitting || !isTitleValid() || !isDescriptionValid() || todoForm.invalid">
              {{ isSubmitting ? 'Creating...' : 'Let’s Get Going' }}
            </button>
          </form>
          <div *ngIf="successMessage" class="alert alert-success d-flex align-items-center mt-3" role="alert">
            <i class="bi bi-check-circle-fill me-2"></i>
            <div>{{ successMessage }}</div>
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
</div>
